<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/delivery.css">
</head>
<body>
    <main>
        <section class="_main">
            <section class="_map">
                map start
                <section class="_header">
                    <nav class="_nav_header">
                        <!-- De momento cada uno tiene una clase independiente del otro, en caso tal de que sea mas como manejarlos en una sola, se editarian con la clase superior a estos -->
                        <nav>
                            <a class="_left_arrow">left arrow</a>
                        </nav>
                        <a class-="_locate_button">locate button</a>
                    </nav>
                </section>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12352.86470108243!2d-73.12706720000001!3d7.0660222500000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f18ef59f9a1%3A0xffbf118f3e8f20c!2sZona%20Franca%20Santander!5e1!3m2!1ses-419!2sco!4v1740575848060!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                map ends
            </section>
        </section>
    </main>
    <section class="_info">
        <!-- seccion 1 -->
        <section class="_gray_line_divider">
            --- linea gris ---
        </section>
        <!-- seccion 2 -->
        <section class="_time_left">
            <p>10 minutes left</p>
        </section>
        <!-- seccion 3 -->
        <section class="_deliver_name">
            <p>Delivery to,</p>
            <p>JL. Kpg Sutoyu</p>
        </section>
        <!-- seccion 4 -->
        <!-- Esta seccion puede que sean en total 4 elementos en vez de uno solo para poder ajustarlo mejor, haciendo que esta seccion almacene las otras adentro, no secciones, pero si los 4 elementos por separado que seria lo mas logico -->
        <section class="_green_lines_divider">
            <!-- ---- ---- ---- ---- -->
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
        </section>
        <!-- seccion 5 -->
        <section class="_deliver_info_status">
            en progreso
        </section>
        <!-- seccion 6 -->
        <section class="_deliver_personal_data">
            informacion personal
            <section>
                imagen
            </section>
            <section class="_info_delivery_deliver">
                <section>titulo</section>
                <section>parrafo</section>
            </section>
            <section>boton</section>
            <!-- esta seccion se debe ajustar para que todo quede seccionado, ya que esto es un contenedor mas general para los 4 elementos de la seccion -->
        </section>
    </section?>
</body>
</html>