<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/delivery.css">
</head>
<body>
    <main>
        <section class="_main">
            <section class="_map">
                map start
                <section class="_header">
                    <nav class="_nav_header">
                        <!-- De momento cada uno tiene una clase independiente del otro, en caso tal de que sea mas como manejarlos en una sola, se editarian con la clase superior a estos -->
                        <a class="_left_arrow">left arrow</a>
                        <a class-="_locate_button">locate button</a>
                    </nav>
                </section>
                map ends
            </section>
        </section>
    </main>
    <section class="_info">
        <!-- seccion 1 -->
        <section class="_gray_line_divider">
            ---
        </section>
        <!-- seccion 2 -->
        <section class="_time_left">
            tiempo
        </section>
        <!-- seccion 3 -->
        <section class="_deliver_name">
            nombre
        </section>
        <!-- seccion 4 -->
        <!-- Esta seccion puede que sean en total 4 elementos en vez de uno solo para poder ajustarlo mejor, haciendo que esta seccion almacene las otras adentro, no secciones, pero si los 4 elementos por separado que seria lo mas logico -->
        <section class="_green_lines_divider">
            <!-- ---- ---- ---- ---- -->
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
            <a class="_green_line">
                ----
            </a>
        </section>
        <!-- seccion 5 -->
        <section class="_deliver_info_status">
            en progreso
        </section>
        <!-- seccion 6 -->
        <section>
            informacion personal
            <!-- esta seccion se debe ajustar para que todo quede seccionado, ya que esto es un contenedor mas general para los 4 elementos de la seccion -->
        </section>
    </section?>
</body>
</html>