<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/detailitem.css">
    <title>Detail Item</title>
</head>
<body>
    <header>
        <a href="home.html"><img src="../src/storage/img/left-arrow-icon.png" alt="back"></a>
        <p>Detail</p>
        <img src="../src/storage/img/heart-icon.png" alt="like">
    </header>
    <main>
        <img src="../src/storage/img/image-coffee-22.png" alt="coffee">
        <div class="name-price">
            <h1>Caffe Mocha</h1>
            <p>Ice/Hot</p>
            <div>
                <img src="../src/storage/img/star-yellow-icon.png" alt="rating">
                <p>4.8</p>
                <p>(230)</p>
            </div>
        </div>
        <div class="icons">
            <img src="../src/storage/img/bike-icon.png" alt="delivery">
            <img src="../src/storage/img/coffee-icon.png" alt="coffee-beans">
            <img src="../src/storage/img/milk-icon.png" alt="milk">
        </div>
        <hr>
        <div class="description">
            <p>Description</p>
            <summary>A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 85 ml of fresh milk, the foam of which is created by steaming the milk to a creamy consistency.</summary>
        </div>
    </main>
    <section class="size">
        <p>Size</p>
        <ul>
            <li>S</li>
            <li>M</li>
            <li>L</li>
        </ul>
    </section>
    <footer>
        <div class="price">
            <p>Price</p>
            <p>$ 4.53</p>
        </div>
        <a href="#">Buy Now</a>
    </footer>

</body>
</html>