<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/detailitem.css">
    <title>Detail Item</title>
</head>
<body>
    <header>
        <a href="home.html"><img src="../src/storage/img/left-arrow-icon.png" alt="back"></a>
        <p>Detail</p>
        <img src="../src/storage/img/heart-icon.png" alt="like">
    </header>
    <main>
        <img src="../src/storage/img/image-coffee-22.png" alt="coffee">
        <section class="main-content">
            <div class="title">
                <h1>Caffe Mocha</h1>
                <p class="light">Ice/Hot</p>
                <div class="rating">
                    <img src="../src/storage/img/star-yellow-icon.png" alt="rating">
                    <p class="score">4.8</p>
                    <p class="light">(230)</p>
                </div>
            </div>
            <div class="icons">
                <a href="#"><img src="../src/storage/img/bike-icon-1.png" alt="delivery"></a>
                <a href="#"><img src="../src/storage/img/coffee-icon.png" alt="coffee-beans"></a>
                <a href="#"><img src="../src/storage/img/milk-icon.png" alt="milk"></a>
    
            </div>
        </section>
        <hr>
        <div class="description">
            <p>Description</p>
            <details>
                <summary>A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 85ml of fresh milk, the fo</summary>
                <p>am of which is created by steaming the milk to a creamy consistency.</p>
            </details>
        </div>
    </main>
    <section class="size">
        <p>Size</p>
        <div class="size-container">
            <a href="#">S</a>
            <a href="#">M</a>
            <a href="#">L</a>
        </div>
    </section>
    <footer>
        <div class="price">
            <p>Price</p>
            <p>$ 4.53</p>
        </div>
        <a href="order.html">Buy Now</a>
    </footer>

</body>
</html>