<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="main_header">
            <h1>Location</h1>
            <div class="Bilzen">
            <p class="place">Bilzen, Tanjungbalai</p>
            <img class="abajo" src="../src/storage/img/abajo.png" alt="location">
            </div>
            <br>
            <div class="search-container">
                <label for="search"><img src="../src/storage/img/Search.png" alt="search"></label>
                <input type="text" placeholder="Search coffee" class="search-input">
                <button class="filter-button">
                    <img src="../src/storage/img/Icon.png" alt="filter">
                </button>
            </div>
            <div class="promo-container">
                <img class="banner" src="../src/storage/img/Banner 1.png" alt="banner">
                <img class="line1" src="../src/storage/img/Line.png" alt="line1">
                <img class="line2" src="../src/storage/img/Line2.png" alt="line2">

                <div class="promo-label"><div class="p">Promo</div></div>
                <div class="promo-text">Buy one get</div>
                <div class="promo-text2">one FREE</div>
            </div>
  
        </header>

    
    </body>
    