<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="container">
            <h5>Location</h5>
            <p class="lugar">Bilzen, Tanjungbalai</p>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Search coffee" class="search-input">
        </div>
        
    </header>
</body>
</html>