<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe Shop Mobile App</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>

<body>
    <header>
        <div class="main_header">
            <h1>Location</h1>
            <div class="Bilzen">
                <p class="place">Bilzen, Tanjungbalai</p>
                <img class="abajo" src="../src/storage/img/abajo.png" alt="location">
            </div>
            <br>
            <div class="search-container">
                <label for="search"><img src="../src/storage/img/Search.png" alt="search"></label>
                <input type="text" placeholder="Search coffee" class="search-input">
                <button class="filter-button">
                    <img src="../src/storage/img/Icon.png" alt="filter">
                </button>
            </div>
            <div class="promo-container">
                <img class="banner" src="../src/storage/img/Banner 1.png" alt="banner">
                <img class="line1" src="../src/storage/img/Line.png" alt="line1">
                <img class="line2" src="../src/storage/img/Line2.png" alt="line2">

                <div class="promo-label">
                    <div class="p">Promo</div>
                </div>
                <div class="promo-text">Buy one get</div>
                <div class="promo-text2">one FREE</div>
            </div>

    </header>
    <div class="carousel-container">
        <div class="carousel">
            <div class="category selected">All Coffee</div>
            <div class="category">Macchiato</div>
            <div class="category">Latte</div>
            <div class="category">Americano</div>
        </div>
    </div>

    <div class="Mocha">
        <div class="Mocha1">
            <img src="../src/storage/img/image-coffee-2.png" alt="Mocha1"> </div>
        <div class="Mocha-text">

            <div class="Mocha-title">Caffe Mocha</div>
            <div class="Mocha-Type">Deep Foam</div>
            <div class="Price"><strong>$ 4.53</strong></div>
            <div class="rating">
                <span>⭐ 4.8</span>
            </div>
            <div class="Transparente">
                <img src="../src/storage/img/Rating.png" alt="rating">
            </div>
        </div>
    </div>


    <div class="Flat">
        <div class="Flat1">
            <img src="../src/storage/img/image-coffee-3.png" alt="Flat"> </div>
        <div class="Flat-text">

            <div class="Flat-title">Flat White</div>
            <div class="Flat-Type">Espresso</div>
            <div class=Price2> <strong>$ 3.53</strong> </div>
            <div class="rating2">
                <span>⭐ 4.8</span>
            </div>
            <div class="Transparente2">
                <img src="../src/storage/img/Rating.png" alt="rating2">
            </div>
        </div>
    </div>
    

</body>