<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/onboarding.css">
    <title>Onboarding</title>
</head>
<body>
    <header>
        <img src="../src/storage/img/image-coffee-6.jpg" alt="logo">
    </header>
    <main>
        <h1>Fall in Love with Coffee in Blissful Delight!</h1>
        <p>Welcome to our cozy coffee corner, where every cup is a delightful for you.</p> 
        <a href="home.html">Get Started</a>         
</body>
</html>