<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/order.css">
    <title>order</title>
</head>

<body>
    <header>
        <a href="#"><img src="../src/storage/img/left-arrow-icon.png" alt="logo"></a>
        <h1>Order</h1>
    </header>
    <nav>
        <div class="delivery-options">
            <a href="#" class="deliver">Deliver</a>
            <a href="#" class="pick-up">Pick Up</a>
        </div>
    </nav>
</body>

</html>