<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/order.css">
    <title>order</title>
</head>

<body>
    <header>
        <a href="#"><img src="../src/storage/img/left-arrow-icon.png" alt="logo"></a>
        <h1>Order</h1>
    </header>
    <nav>
        <div class="delivery-options">
            <a href="#" class="deliver">Deliver</a>
            <a href="#" class="pick-up">Pick Up</a>
        </div>
    </nav>
    <main>
        <div class="delivery-address">
            <h1>Delivery Address</h1>
            <h3>J1. Kpg Sutoyo</h3>
            <p>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai</p>
            <div class="edit-add-container">
                <a href="#"><img src="../src/storage/img/Edit Square.png" alt="edit">Edit Address</a>
                <a href="#"><img src="../src/storage/img/add-note.png" alt="delete">Add Note</a>
            </div>
        </div> 
        <hr class="linea">
        <div class="order-item">
            <img class="img-coffe" src="../src/storage/img/image-coffee-2.png" alt="Coffee">
            <div class="item-details">
                <h2>Coffee Mocha</h2>
                <p>Deep Foam</p>
            </div>
            <div class="portion-container">
                <div class="portion-selector">
                    <button class="decrease-btn">
                        <img src="../src/storage/img/minus.png" alt="Decrease">
                    </button>
                    <input type="number" class="portion-count" value="1" min="1" max="99">
                    <button class="increase-btn">
                        <img src="../src/storage/img/add-black.png" alt="Increase">
                    </button>
                </div>
            </div>
            
            <div class="discount-section">
                <div class="discount-container">
                    <img src="../src/storage/img/Discount.png" alt="Discount">
                    <h2>1 Discount is Applies</h2>
                    <img src="../src/storage/img/rigth-arrow-icon.png" alt="Arrow">
                </div>
            </div>
    
        </div>
    </main>       
</body>

</html>