@import url(variables.css);

._main{
    position:relative;
    /* color: var(--color-5); */ 
    overflow: hidden;
    background:rgb(37, 0, 71); 
}

._nav_header {
    position: absolute;
    display: flex;
    width: calc(100% - 48px);
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    top: 0;
    z-index: 3;
}

._nav_header a {
    margin-top: 68px;
    background-color: var(--color-4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

._nav_header > a:first-child {
    width: 44px;
    height: 44px;
    margin-left: 24px;
}

._nav_header > a:last-child {
    width: 44px;
    height: 44px;
    margin-right: 24px;
}

._nav_header a img {
    object-fit: contain;
}


/* 
Esta es la seccion del delivery info
-Ver como sobreponer esta seccion sobre la seccion del mapa
-Esta es la caja para almacenar los dos botones, estas medidas no aplican para los botones, son independientes
-Medidas:
Top: 68px
L-R: 24px
378px a la seccion de abajo de informacion

Las dimenciones generales de esta caja son:


Mas o menos el mapa tiene que tener un tamaño de 446px
*/
._main ._header{
    /* margin-bottom: -34px; */
    background-color:rgb(231, 90, 90);
    /* margin: 10px; */
}


/*
Esta es la caja que va a contener el mapa en general, va a ser una sola para todo el mapa
La dimension del mapa debe de ser de 446px
De momento, se supone que no es esa, la dimension total del mapa debe de ser el fondo total de la pantalla, donde tanto la seccion superior del header como la de info deben sobreponerse ante la posicion del mapa siendo este un background
Ver como se hace para importarse el mapa
*/

._main ._map{
    /* background-color:rgb(89, 228, 165);  */
    /* margin: 5px; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

._main ._map iframe{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* 
Esta es la caja que contiene de manera general todo el contenido de informacion de abajo, se deben de subseccionar cada parte, siendo un total de 6 subsecciones
1 seccion) pertenece a la linea que aparece entre el borde de la caja y la seccion 2
2 seccion) es un parrafo de texto que contiene el tiempo restante para que llegue el pedido
3 seccion) Es un parrafo que contiene el nombre del delivery
4 seccion) es una serie de lineas las cuales dividen las dos primeras secciones de las otras 2
5 seccion) es una caja mas general la cual contiene 3 datos, una imagen, un titulo y un parrafo, ubicados 1:2, donde la imagen ocupa una pequeña parte de la seccion a la izquierda y el titulo y el parrafo ocupan la parte derecha
6 seccion) es una caja que contiene 4 elementos, la imagen del delivery, el nombre del delivery, su cargo y un boton para llamar, 1:2:1 la manera en la que estan distribuidos
*/
body{
    overflow: hidden;
}

._info{
    background-color:#ffff; 
    padding: 10px;
    text-align: center;
    border-radius: 24px 24px 0px 0px; 
    z-index: 2;
    position: relative;
    margin-top: 490px;
    box-sizing: border-box;
    left: 50%;
    right: 50%;
    width: 100%;
    transform: translateX(-50%);
    max-width: 500px;
    bottom:27px;
    /* bottom: 100%; */
}

._gray_line_divider {
    background-color:rgb(32, 130, 228); 
    margin: auto;
    border-radius: 16px;
    height: 5px;
    width: 45px;
    background-color: gray;
}

._time_left {
    background-color:rgb(96, 121, 145); 
    font-weight: bold;
}

._deliver_name {
    background-color: #dee2e6; 
    display: flex;
    justify-content: center;
}
._deliver_name p:last-child  {
    color:rgb(6, 122, 238);
    font-weight: bold;
}

._green_lines_divider {
    background-color: #cff4fc; 
    color:rgb(3, 32, 5);
}

._deliver_info_status {
    background-color: #d1e7dd; 
}

._info > section:last-child {
    background-color: #fff3cd; 
}

._deliver_personal_data{
    background:rgb(0, 0, 0);
    padding: 10px;
    color: white;
}


