@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(300deg, var(--color-10), 60%, var(--color-11));
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 100%;
    margin-top: -60px;
    padding-top: 24px;
}

.main_header {
    margin: 30px;
    margin-top: 60px;
}

.main_header h1 {
    position: relative;
    font-family: "Sora-Regular";
    font-weight: 400;
    font-size: 12px;
    color: var(--color-4);

}

.abajo {
    display: flex;
    margin-left: 170px;
    margin-top: -18px;
}

.place {
    display: flex;
    margin-top: 20px;
    font-family: "Sora-SemiBold";
    font-size: 16px;
    color: var(--color-12);
}

.main_input {
    display: flex;
    margin: 10px;
    width: 10px;
    height: 40px;
    font-family: "Sora-Regular";
}



.input_text {
    font-family: "Sora-Regular";
}

.search-input {
    flex: 1;
    opacity: 0.1;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    width: 259px;
    height: 52px;
    background: linear-gradient(to bottom left, #313131, #111111);
    margin-left: -1px;
    padding-left: 35px;
    border: none;
}


::placeholder {
    padding-left: 15px;
    color: #A2A2A2;
    font-size: 16px;


}

.filter-button {
    background-color: #C67C4E;
    border: none;
    border-radius: 18px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -52px;
    margin-left: 295px;
    width: 52px;
    height: 52px;
}

/*La imágen del botón que esta al lado de la barra de búsqueda*/
.filter-button img {
    width: 20px;
    height: 20px;
}

/*Contiene todo lo del banner y lo que está dentro de él, como las letras*/
.promo-container {
    position: absolute;
    top: 150px;
    margin-left: -5px;
    width: 95%;

}

/*Mediciones del Banner de los cafes*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 327px;
    height: 140px;
    margin-left: 27px;
    margin-top: 100px;
}


/*Línea debajo del Buy one get..*/
.line1 {
    position: relative;
    top: -83px;
    margin-left: 37px;
    height: 27px;
    width: 200px;
}

/*Línea debajo del one FREE*/
.line2 {
    position: relative;
    top: -75px;
    margin-left: 37px;
    width: 149px;

}

/*Promo*/
.promo-label {
    position: relative;
    top: -185px;
    margin-left: 37px;
    font-family: "Sora-SemiBold";
    font-size: 14px;
    color: var(--color-12);
    background-color: #ED5151;
    width: 60px;
    height: 26px;
    border-radius: 8px;
    margin-right: 320px;
    text-align: center;
    font-weight: 10px;
    align-items: center;
}

/*Esto para que lo que dice "Promo", no afecte todo, si no que solamente baje lo que dice Promo y no se baje
  junto con el background*/
.p {
    position: relative;
    top: 3px;
}

/*Buy one get...*/
.promo-text {
    position: relative;
    top: -183px;
    margin-left: 37px;
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-1);
}

/*one FREE...*/
.promo-text2 {
    position: relative;
    top: -183px;
    margin-left: 37px;
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-1);
}

