@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

header {
    background: linear-gradient(300deg, var(--color-10), 60%, var(--color-11));
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 100%;
    margin-top: -60px;
    padding-top: 24px;
}

.main_header {
    margin: 30px;
    margin-top: 100px;
    margin-left: 50px;
}

.main_header h1 {
    position: relative;
    font-family: "Sora-Regular";
    font-weight: 400;
    font-size: 12px;
    color: var(--color-4);

}

.abajo {
    display: flex;
    margin-left: 170px;
    margin-top: -18px;
}

.place {
    display: flex;
    margin-top: 10px;
    font-family: "Sora-SemiBold";
    font-size: 16px;
    color: var(--color-12);
}

.main_input {
    display: flex;
    margin: 10px;
    width: 10px;
    height: 40px;
    font-family: "Sora-Regular";
}


.input_text {
    font-family: "Sora-Regular";
}

.search-input {
    flex: 1;
    opacity: 0.1;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    width: 300px;
    height: 52px;
    background: linear-gradient(to bottom left, #313131, #111111);
    margin-left: -20px;
    border: none;
    padding-left: 20px;
}

/*Edita lo que está dentro del la búsqueda, es decir el Search Coffee*/
::placeholder {
    padding-left: 25px;
    color: #A2A2A2;
    font-size: 16px;

}

.filter-button {
    background-color: #C67C4E;
    border: none;
    border-radius: 18px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -52px;
    margin-left: 313px;
    width: 52px;
    height: 52px;
}

/*La imágen del botón que esta al lado de la barra de búsqueda*/
.filter-button img {
    width: 20px;
    height: 20px;

}

/*Contiene todo lo del banner y lo que está dentro de él, como las letras*/
.promo-container {
    position: absolute;
    top: 125px;
    margin-left: -5px;
    width: 95%;

}

/*Mediciones del Banner de los cafes*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 355px;
    height: 160px;
    margin-left: 13px;
    margin-top: 160px;
}

/*Línea debajo del Buy one get..*/
.line1 {
    position: relative;
    top: -90px;
    margin-left: 53px;
    height: 27px;
    width: 200px;
}

/*Línea debajo del one FREE*/
.line2 {
    position: relative;
    top: -75px;
    margin-left: 53px;
    width: 149px;

}

/*Promo*/
.promo-label {
    position: relative;
    top: -200px;
    margin-left: 53px;
    font-family: "Sora-SemiBold";
    font-size: 14px;
    color: var(--color-12);
    background-color: #ED5151;
    width: 60px;
    height: 26px;
    border-radius: 8px;
    margin-right: 320px;
    text-align: center;
    font-weight: 10px;
    align-items: center;
}

/*Esto para que lo que dice "Promo", no afecte todo, si no que solamente baje lo que dice Promo y no se baje
  junto con el background*/
.p {
    position: relative;
    top: 3px;
}

/*Buy one get...*/
.promo-text {
    position: relative;
    top: -188px;
    margin-left: 54px;
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-1);
}

/*one FREE...*/
.promo-text2 {
    position: relative;
    top: -184px;
    margin-left: 54px;
    font-family: "Sora-SemiBold";
    font-size: 32px;
    color: var(--color-1);
}

.carousel-container {
    align-items: center;
    overflow: hidden;
    width: 100%;
    margin-top: 120px;
    font-family: "Sora-Regular";
    margin-left: 35px;
}

.carousel {
    position:relative;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 85vw;
    margin-left: 20px;
}

.category {
    background-color: #EDEDED;
    color: #313131;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 14px;
    transition: 0.3s;
}

.category.selected {
    background-color: #c67c4e;
    color: white;
}

.Mocha {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 30px;
    width: 156px;
    height: 238px;
    border-radius: 20px;
    background-color: #FFFFFF;
    justify-items: center;
   
}

.Mocha1 img {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    width: 140px;
    height: 128px;
    border-radius: 15px;
    background-color: #ffffff;
    justify-items: center;

}

.Mocha1 {
    display: flex;
    justify-items: center;

}

.Mocha-title {
    font-family: "Sora-SemiBold";
    font-size: 16px;
    color: #242424;
    margin-left: 10px;
    margin-top: 5px;
}

.Mocha-Type {
    font-family: "Sora-Regular";
    font-size: 12px;
    color: #A2A2A2;
    margin-left: 10px;
    margin-top: 5px;
}

.Price {
    position: relative;
    font-family: "Sora-SemiBold";
    font-size: 18px;
    color: #050505;
    margin-left: 10px;
    margin-top: 15px;

}
.Transparente {
    position: relative;
    width: 156px;
    height: 238px;
    margin-left: 97px;
    margin-top: -21px;
    border-radius: 20px;
    
}

.rating {
    position: relative;
    font-family: "Sora-SemiBold";
    font-size: 8px;
    color: #FFFFFF;
    margin-left: 110px;
    margin-top: -200px;
    z-index: 3;
}


.Flat {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: -240px;
    width: 156px;
    height: 238px;
    border-radius: 20px;
    background-color: #FFFFFF;
    justify-items: center;
   
}

.Flat1 img {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    width: 140px;
    height: 128px;
    border-radius: 15px;
    background-color: #ffffff;
    justify-items: center;

}

.Flat-title {
    font-family: "Sora-SemiBold";
    font-size: 16px;
    color: #242424;
    margin-left: 10px;
    margin-top: 5px;
}

.Flat-Type {
    font-family: "Sora-Regular";
    font-size: 12px;
    color: #A2A2A2;
    margin-left: 10px;
    margin-top: 5px;
}

.Price2 {
    position: relative;
    font-family: "Sora-SemiBold";
    font-size: 18px;
    color: #050505;
    margin-left: 10px;
    margin-top: 15px;

}
.Transparente2 {
    position: relative;
    width: 156px;
    height: 238px;
    margin-left: 97px;
    margin-top: -21px;
    border-radius: 20px;
    
}

.rating2 {
    position: relative;
    font-family: "Sora-SemiBold";
    font-size: 8px;
    color: #FFFFFF;
    margin-left: 110px;
    margin-top: -200px;
    z-index: 3;
}
