@import url("variables.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    
    margin: 0;
    padding: 16px;
    background-color: var(--color-9);
    height: 100px;

    
}

header {
    /* background-color: red; */
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
    margin-bottom: 20px;
    font-family: "sora-semibold";
    font-size: 16px;
}

header img {
    width: 16px;
    height: 16px;
    
}

header h1 {
    font-size: 16px;
    margin:  0;
}


nav {
    /* background-color: red; */
    display: flex;
    justify-content: center;

}
.delivery-options{
    background-color: var(--color-6);
    width: 327px;
    height: 43px;
    display: flex;
    padding: 4px;
    align-items: center; /* Centrar  verticalmente el titulo de Delivery y pick up */
    border-radius: 8px;
    margin-bottom: 10px;
}
.delivery-options a{
    width: 153px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    
    
}

.deliver{
    font-family: "sora-semibold";
    background-color: var(--color-1);
    color: var(--color-7);
}

.pick-up{
    font-family: "Sora-Regular";
    color: var(--color-8);
}

